input[type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;

  }

  /* IMAGE STYLES */
input[type=radio] + img {
    cursor: pointer;
margin: 0px 20px 0px 20px;
  }

  /* CHECKED STYLES */
input[type=radio]:checked + img {

    outline: 2px solid #2f89fc;
  }
  input[type=submit]{
  	background: linear-gradient(to bottom, #2f89fc, #0088cc);
  	border: 1px solid #0088CC;
  	color: #FFF;
  	/* padding: 3px; */
  	width: 100px;
  	font-family: prototype;
  	font-size: 15px;
  	border-radius: 3px;
  	margin-bottom: 30px;
  }
  input[type=reset]{
  	background: linear-gradient(to bottom, #ff2a2a, #ff0000);
  	border: 1px solid #ff2a2a;
    	border-radius: 5px;
      color: #FFF;
  	/* padding: 3px; */
  	width: 100px;
  	font-family: prototype;
  	font-size: 15px;
  	border-radius: 3px;
  	margin-bottom: 30px;
  }

.zebra-table{
width: 100%;
border-collapse: collapse;
box-shadow: 0 2px 3px 1px #ddd;
overflow: hidden;
border:10px solid #fff;
}

.zebra-table th,.zebra-table td{
vertical-align: top;
padding:10px 7px;
text-align: left;
margin:0;
}
.zebra-table tbody tr:nth-child(odd) {
background:#a5daff;
}
#tengah{
align-items: center;
	overflow: hidden;
	padding: 2em 10em 2em 0em;
}

#isi{
	position: center;
	float: center;
	width: 76%;
	text-align: left;
}
